---
import '../styles/global.css';


const pageTitle = "My Blog";
---

<body>
  <a href="/twentysomethingfire/">Home</a>
  <a href="/twentysomethingfire/about/">About</a>
  <a href="/twentysomethingfire/blog/">Blog</a>

  <h1>TwentySomethingFire</h1>
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey towards FIRE.</p>
  <ul>
    <li><a href="/twentysomethingfire/posts/post-1/">Post 1</a></li>
  </ul>
</body>